page-almost-signin {
    
    .description{
        margin-top: 4rem;
        text-align: center;
        line-height: 2.6rem;
        font-size: 1.4rem;
    }

    .scroll-content{
        padding: 0 3rem;
    }

    #almost-signin-pic{
        margin: 3rem auto;
        display: block;
        min-width: 16rem;
    }

    .subtitle{
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        margin-top: 3rem;
    }

    .separator{
        height: 1px;	
        width: 50px;	
        background: #E7E7E7;
        margin: 4rem auto;
    }
}