page-viewer{
    
    .loader{
        height: 5rem;
        
    }

    ion-spinner *{
        stroke: map-get($colors, primary) !important;
    }

    .scroll-content{
        background: #000;
    }

    .shadowhead{
        z-index: 1;
        position: absolute;
        top:0;
        width: 100%;
        padding: 0 .5rem;
        height: 4.2rem;
        line-height: 4.2rem;
        color: #FFF;
        display: flex;
        background: rgba(50,50,50,.2);
        opacity: 1;
        transition: opacity .3s;

        .twolevels{
            flex-grow:1;
            line-height:2rem;
            font-size: 1.2rem;
        }
        .lvl1{
            font-weight: 700;
            line-height:2.2rem;
        }

        .icon-btn{
            height: 100%;
        }

        button{
            color:#FFF;
        }

        &.hide-controls{
            transition: opacity .3s, height 0 .3s;
            opacity: 0;
            height: 0;
        }
    }

    .picture{
        width: 100%;
        height: 100%;
        
    }
    
    .file{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #FFF;

        .name{
            font-weight: 700;
            margin: 0 2rem 2rem;
        }
    }

    .i-upload{
        font-size: 3rem;
        width: 5rem;
        text-align: center;
        height: 5rem;
        line-height: 5rem;
        background: map-get($colors, primary);// rgba(255,255,255,.1);
        color: #FFF;
        text-decoration: none;
        border-radius: .4rem;
        &::before{
            top:.2rem;
            position: relative;
        }
    }

    .slide-zoom{
        height: 100%;
    }
}